

  
  
<div class="container">
    <ul class="navbar navbar-dark bg-primary">
      <h4><div class="nav-item"><a routerLink="/addFood" class="nav-link">Add Food </a></div></h4>
      <h4><div class="nav-item"><a routerLink="/updateFood" class="nav-link">Update Food </a></div></h4>
      <h4><div class="nav-item"><a routerLink="/deleteFood" class="nav-link">Delete Food </a></div></h4>
      <h4><div class="nav-item"><a routerLink="/searchFood" class="nav-link">Search Food </a></div></h4>
      <h4> <div class="nav-item"><a routerLink="/foodsList" class="nav-link">List of foods </a></div></h4>
      <h4><div class="nav-item"><a routerLink="/login" class="nav-link">Logout</a></div></h4>
    </ul>
  </div>