

<h1>{{message}}</h1>
&nbsp;
<div class="container table">
    
    <table class="table bg-primary">
   
            <tr>
                <th>Food Id</th>
                <th>Food Name</th>
                <th>Description</th>
                <th>Availability</th>
                <th>Price</th>
                <th>Avatar</th>
            </tr>
      
        
            <tr >
                <th>{{food.id}}</th>
                <td>{{food.foodName}}</td>
                <td>{{food.description}}</td>
                <td>{{food.availability}}</td>
                <td>{{food.price}}</td>
               
                <td><img alt="{{food.foodName}}'s image" style="width: 200px; height: 200px;" [src]="food.avatar"/></td>
              </tr>
       
    </table>
</div>
<h4><a routerLink="/loginsuccess" class="nav-link">Back</a></h4>

